html {
  height: 100vh;
  width: 100vw;
  background-color: #eaeaea;
}
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}
.root {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}
